.tags {
  font-size: .875rem;
  list-style: none;
  margin-bottom: 1.25rem;
  margin-left: -.25rem;
  margin-right: -.25rem;
  padding: 0;
}

.tags::after {
  clear: both;
  content: ' ';
  display: table;
}

.tag {
  float: left;
  margin: .25rem;
}

.tag a {
  border: 1px solid var(--borderColor);
  padding: .25rem .5rem;
}
