@-ms-viewport {
  width: device-width;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background: $base-color;
  color: $base-bgcolor;
  text-shadow: none;
}

html {
  box-sizing: border-box;
  font-size: $root-font-size;
  height: 100%;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  background: $base-bgcolor;
  color: $base-color;
  display: flex;
  flex-direction: column;
  font-family: $base-font-family, $base-font-family-fallback;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  margin: 0;
  min-height: 100%;
  position: relative;
}
