// Base

$color: #686868;
$color-bg: #fafafa;

$color-headings: #686868;

// Links

$color-link: #2980b9;
$color-link-active: lighten($color-link, 10%);
$color-link-hover: darken($color-link, 10%);

$color-outline: $color-link;

// Border

$color-border: #808080;
$color-border-hover: darken($color-border, 20%);

// Typography

$color-subline: #808080;

// Layout

$color-header: #686868;
$color-header-bg: #fafafa;

$color-footer: #686868;
$color-footer-bg: #fafafa;

// Buttons

$color-btn: #fff;
$color-btn-bg: #95a5a6;
$color-btn-hover: #fff;
$color-btn-hover-bg: darken($color-btn-bg, 10%);

$color-primary: $color-link;
$color-primary-active: lighten($color-primary, 10%);
$color-primary-hover: darken($color-primary, 10%);

$color-secondary: #9b59b6;
$color-secondary-active: lighten($color-secondary, 10%);
$color-secondary-hover: darken($color-secondary, 10%);

$color-success: #2ecc71;
$color-success-active: lighten($color-success, 10%);
$color-success-hover: darken($color-success, 10%);

$color-warning: #f1c40f;
$color-warning-active: lighten($color-warning, 10%);
$color-warning-hover: darken($color-warning, 10%);

$color-error: #e74c3c;
$color-error-active: lighten($color-error, 10%);
$color-error-hover: darken($color-error, 10%);

// Input

$color-input: $color-bg;
$color-input-bg: $color;
