@media print {

  * {
    background: transparent;
    box-shadow: none;
    color: $color-base;
    text-shadow: none;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  img,
  blockquote,
  pre,
  tr {
    page-break-inside: avoid;
  }

  blockquote {
    border-left: 3px solid $color-base;
  }

  thead {
    display: table-header-group;
  }

  select {
    background: $color-base-bg;
  }

  .container {
    width: auto;
  }

  .left {
    display: none;
  }

  .main {
    width: 100%;
  }

}
