// Fonts

$font-family: Arial;
$font-family-fallback: sans-serif;
$font-size: 1em;
$font-weight: 400;

$line-height: 1.5em;

$font-family-headings: inherit;
$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.25rem;
$font-size-h4: 1rem;
$font-size-h5: .875rem;
$font-size-h6: .75rem;
$font-weight-headings: 700;

$font-size-headings: (
	$font-size-h1,
	$font-size-h2,
	$font-size-h3,
	$font-size-h4,
	$font-size-h5,
	$font-size-h6
);

$font-family-code: 'Courier New';
$font-family-code-fallback: monospace;

// Spacing

$margin-element-bottom: 3rem;

$rtl: false;

// Grid

$grid-columns: 12;
$grid-gutter: 2%;
$grid-container: 78rem;

// Media Queries

$media-tiny: 30rem;
$media-small: 40rem;
$media-medium: 60rem;
$media-large: 78rem;

// Paths

$path-fonts: '../fonts';
$path-img: '../img';
