// Fonts

$root-font-size: 100%;

$base-font-family: Arial;
$base-font-family-fallback: sans-serif;
$base-font-size: 1rem;
$base-font-weight: 400;
$base-line-height: 1.5;

$font-family-headings: inherit;
$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.25rem;
$font-size-h4: 1rem;
$font-size-h5: .875rem;
$font-size-h6: .75rem;
$font-weight-headings: 700;

$font-size-headings: (
  $font-size-h1,
  $font-size-h2,
  $font-size-h3,
  $font-size-h4,
  $font-size-h5,
  $font-size-h6
);

$code-font-family: 'Courier New';
$code-font-family-fallback: monospace;

// Spacing

$margin-element-bottom: 3rem;

$rtl: false;

// Grid

$grid-columns: 12;
$grid-container: 78rem;
$grid-gutter: 2%;

// Media Queries

$media-micro: 20em; // 320
$media-tiny: 30em; // 480
$media-small: 48em; // 768
$media-medium: 60em; // 960
$media-large: 80em; // 1280

// Paths

$path-fonts: '../fonts';
$path-img: '../img';
