$header-bgcolor: inherit;
$header-color: inherit;

header {
  display: block;
}

.site__header {
  background: $header-bgcolor;
  color: $header-color;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.site__logo {

  img {
    margin-left: auto;
    margin-right: auto;
  }

}
