$header-bgcolor: inherit;
$header-color: inherit;

header {
  display: block;
}

.site__header {
  background: $header-bgcolor;
  color: $header-color;
  padding: 2rem 0;
}

.site__logo {

  img {
    margin: 0 auto;
  }

}
