<head>

  <meta charset="UTF-8">
  <title>{{ title }}</title>

  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Search Engine -->

  <meta name="description" content="{{ description }}">

  <!-- Mobile & Windows 8 -->

  <meta name="application-name" content="Website">
  <meta name="apple-mobile-web-app-title" content="Website">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Styles -->

  <meta name="theme-color" content="#fff">

  <!-- Stylesheets -->

  <!-- build:css css/style.css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- endbuild -->

  <!-- Icons -->

  <!-- place favicon.ico (48x48) in root folder -->
  <link rel="icon" href="apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

  <!--[if lt IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

</head>
