:root {
  --footerBgColor: inherit;
  --footerColor: inherit;
  --footerFontSize: .875rem;
  --footerPaddingVertical: 2rem;
}

footer {
  display: block;
  margin: 0;
  padding: 0;
}

.site__footer {
  background: var(--footerBgColor);
  color: var(--footerColor);
  font-size: var(--footerFontSize);
  padding-bottom: var(--footerPaddingVertical);
  padding-top: var(--footerPaddingVertical);
}
