:root {
  --headerBgColor: inherit;
  --headerColor: inherit;
  --headerPaddingVertical: 2rem;
}

header {
  display: block;
}

.site__header {
  background: var(--headerBgColor);
  color: var(--headerColor);
  padding-bottom: var(--headerPaddingVertical);
  padding-top: var(--headerPaddingVertical);
}

.site__logo img {
  margin-left: auto;
  margin-right: auto;
}
