@-ms-viewport {
  width: device-width; }
*,
*::before,
*::after {
  box-sizing: inherit; }

::-moz-selection {
  background: #111;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #111;
  color: #fff;
  text-shadow: none; }

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  background: #fff;
  color: #111;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  position: relative; }

.align {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .align__item--top {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .align__item--bottom {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }

audio {
  display: inline-block;
  vertical-align: baseline; }
  audio:not([controls]) {
    display: none; }

.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: -.5rem; }
  .breadcrumb::after {
    clear: both;
    content: '';
    display: table; }
  .breadcrumb > li {
    margin: 0; }
  .breadcrumb li {
    float: left;
    margin: .5rem; }
  .breadcrumb a {
    display: block;
    padding: .25rem .5rem; }

button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-transform: none; }
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }

.button {
  background-color: #95a5a6;
  color: #fff;
  display: inline-block;
  padding: .5rem 1rem; }
  .button:focus, .button:hover {
    background: #798d8f;
    color: #798d8f; }
  .button--large {
    font-size: 2rem; }
  .button--small {
    font-size: .75rem; }
  .button--rounded {
    border-radius: .5rem; }
  .button--pill {
    border-radius: 9999px; }
  .button--full {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%; }
  .button--primary {
    background-color: #2e719e; }
    .button--primary:focus, .button--primary:hover {
      background-color: #235577; }
  .button--secondary {
    background-color: #964db3; }
    .button--secondary:focus, .button--secondary:hover {
      background-color: #783d90; }
  .button--success {
    background-color: #367d53; }
    .button--success:focus, .button--success:hover {
      background-color: #27593b; }
  .button--warning {
    background-color: #f1c40f; }
    .button--warning:focus, .button--warning:hover {
      background-color: #c29d0b; }
  .button--error {
    background-color: #b83c2e; }
    .button--error:focus, .button--error:hover {
      background-color: #8f2f24; }

canvas {
  display: inline-block;
  vertical-align: baseline; }

code {
  font-family: "Courier New", monospace;
  font-size: .75em; }

pre {
  background-color: #f5f5f5;
  display: block;
  margin-bottom: 1.5rem;
  margin-top: 0;
  overflow: auto;
  padding: 1rem;
  word-break: break-all; }

.comments {
  list-style: none;
  margin: 0;
  padding: 0; }

details {
  display: block;
  margin-bottom: 1.5rem;
  margin-top: 0; }

summary {
  display: block; }
  summary:focus {
    outline: none; }

dialog {
  border: 0;
  display: none;
  padding: 1rem; }
  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.85);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0; }
  dialog[open] {
    display: block; }

.embed {
  height: 0;
  margin-bottom: 3rem;
  padding-bottom: 100%;
  position: relative; }
  .embed--16-9 {
    padding-bottom: 56.25%; }
  .embed embed,
  .embed iframe,
  .embed object {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

input,
select,
textarea {
  background-color: #e8e8e8;
  border: 1px solid #bdbdbd;
  border-radius: 0;
  color: inherit;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  outline-color: #2e719e;
  padding: 0;
  transition: all .3s; }
  input:focus, input:hover,
  select:focus,
  select:hover,
  textarea:focus,
  textarea:hover {
    border-color: #8a8a8a; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bdbdbd; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #bdbdbd; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #bdbdbd; }

input::placeholder,
textarea::placeholder {
  color: #bdbdbd; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  background-color: #95a5a6;
  color: #fff;
  cursor: pointer; }
  input[type="reset"]:focus, input[type="reset"]:hover, input[type="submit"]:focus, input[type="submit"]:hover {
    background-color: #798d8f; }
input[type="search"] {
  -webkit-appearance: textfield; }

label {
  color: inherit;
  display: inline-block;
  font: inherit;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto; }

legend {
  border: 0;
  display: block;
  padding: 0 .25rem;
  position: relative; }

textarea {
  max-width: 100%;
  overflow: auto;
  resize: none;
  vertical-align: top;
  width: 100%; }

.form {
  margin-bottom: 3rem; }
  .form fieldset {
    margin: -.5rem 0; }
  .form__field {
    padding: .5rem 0; }
    .form__field::after {
      clear: both;
      content: '';
      display: table; }
  .form__input {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .form select,
  .form textarea,
  .form input[type="color"],
  .form input[type="date"],
  .form input[type="datetime"],
  .form input[type="datetime-local"],
  .form input[type="email"],
  .form input[type="file"],
  .form input[type="month"],
  .form input[type="number"],
  .form input[type="output"],
  .form input[type="password"],
  .form input[type="range"],
  .form input[type="search"],
  .form input[type="tel"],
  .form input[type="text"],
  .form input[type="time"],
  .form input[type="url"],
  .form input[type="week"] {
    height: 2em;
    padding: .25rem .5rem;
    width: 100%; }
  .form textarea {
    height: 6rem; }
  .form input[type="checkbox"], .form input[type="radio"] {
    float: left;
    margin-right: .5rem;
    margin-top: .25rem; }
  .form input[type="reset"], .form input[type="submit"] {
    background-color: #2e719e;
    padding: .25rem 1rem; }
    .form input[type="reset"]:focus, .form input[type="reset"]:hover, .form input[type="submit"]:focus, .form input[type="submit"]:hover {
      background-color: #235577; }
  .form .checkbox-container,
  .form .radio-container {
    float: left;
    width: 100%; }
    .form .checkbox-container::after,
    .form .radio-container::after {
      clear: both;
      content: '';
      display: table; }
    .form .checkbox-container label,
    .form .radio-container label {
      overflow: hidden; }
    @media (min-width: 30em) {
      .form .checkbox-container,
      .form .radio-container {
        width: 50%; } }
    @media (min-width: 48em) {
      .form .checkbox-container,
      .form .radio-container {
        width: 33.33333%; } }

.gallery {
  margin-bottom: 3rem; }
  .gallery .images {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: -.25rem; }
    .gallery .images::after {
      clear: both;
      content: '';
      display: table; }
    .gallery .images > li {
      margin: 0; }
    .gallery .images li {
      float: left;
      padding: .25rem;
      width: 50%; }
      @media (min-width: 30em) {
        .gallery .images li {
          width: 33.33333%; } }

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 78rem;
  width: 90%; }
  .grid::after {
    clear: both;
    content: '';
    display: table; }
  .grid__row {
    margin: -1%; }
    .grid__row::after {
      clear: both;
      content: '';
      display: table; }
  .grid__col {
    margin: 1%;
    min-height: 1px; }
    @media (min-width: 48em) {
      .grid__col {
        float: left; }
        .grid__col--1 {
          width: 6.33333%; }
        .grid__col--2 {
          width: 14.66667%; }
        .grid__col--3 {
          width: 23%; }
        .grid__col--4 {
          width: 31.33333%; }
        .grid__col--5 {
          width: 39.66667%; }
        .grid__col--6 {
          width: 48%; }
        .grid__col--7 {
          width: 56.33333%; }
        .grid__col--8 {
          width: 64.66667%; }
        .grid__col--9 {
          width: 73%; }
        .grid__col--10 {
          width: 81.33333%; }
        .grid__col--11 {
          width: 89.66667%; }
        .grid__col--12 {
          width: 98%; } }

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit, sans-serif;
  font-weight: 700; }

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0 0 .5rem; }

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0 0 .5rem; }

h3 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 0 0 .5rem; }

h4 {
  font-size: 1rem;
  line-height: 1.2;
  margin: 0 0 .5rem; }

h5 {
  font-size: 0.875rem;
  line-height: 1.2;
  margin: 0 0 .5rem; }

h6 {
  font-size: 0.75rem;
  line-height: 1.2;
  margin: 0 0 .5rem; }

.icon {
  display: inline-block;
  fill: #111;
  height: 1em;
  vertical-align: middle;
  width: 1em; }

.icon--2x {
  font-size: 2rem; }

.icon--3x {
  font-size: 3rem; }

.icon--4x {
  font-size: 4rem; }

img,
svg {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  display: block;
  margin-bottom: 1.5rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0; }

figcaption {
  display: block; }

a {
  background-color: transparent;
  border: 0;
  color: #2e719e;
  text-decoration: none;
  transition: background-color .3s, color .3s; }
  a:active {
    color: #3a8dc6; }
  a:focus, a:hover {
    color: #235577; }
  a:focus {
    outline: none; }

dl,
ol,
ul {
  margin-bottom: 1.5rem;
  margin-top: 0;
  padding-left: 1.25rem; }
  dl dd,
  dl ol,
  dl ul,
  ol dd,
  ol ol,
  ol ul,
  ul dd,
  ul ol,
  ul ul {
    margin-top: .5rem; }
  dl li,
  ol li,
  ul li {
    margin-bottom: .25rem; }

.media {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .media--center {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .media__obj {
    margin-bottom: 1.5rem; }
    @media (min-width: 30em) {
      .media__obj--left, .media__obj--right {
        max-width: 50%; } }
    .media__obj--left {
      margin-right: 1rem; }
    .media__obj--right {
      margin-left: 1rem;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
  .media__body {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }

nav {
  display: block; }

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .navigation ul > li {
    margin: 0; }
.navigation a {
  display: block; }
.navigation--inline > ul::after {
  clear: both;
  content: '';
  display: table; }
.navigation--inline > ul > li {
  float: left; }
.navigation__dropdown {
  position: relative; }
  .navigation__dropdown:focus > ul, .navigation__dropdown:hover > ul {
    display: block; }
  .navigation__dropdown > ul {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    white-space: nowrap; }
  .navigation__dropdown--bottom > ul {
    bottom: auto;
    top: 100%; }
  .navigation__dropdown--left > ul {
    left: auto;
    right: 100%; }
  .navigation__dropdown--right > ul {
    left: 100%;
    right: auto; }
  .navigation__dropdown--top > ul {
    bottom: 100%;
    top: auto; }
@media (min-width: 48em) {
  .navigation__btn {
    display: none; } }

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  .pagination::after {
    clear: both;
    content: '';
    display: table; }
  .pagination > li {
    margin: 0; }
  .pagination li {
    display: inline-block; }
  .pagination a {
    display: block;
    padding: .25rem .5rem; }
  .pagination__previous {
    float: left; }
  .pagination__next {
    float: right; }

article {
  display: block; }

.posts {
  list-style: none;
  margin-bottom: 1.5rem;
  padding: 0; }

.post {
  margin-bottom: 1.5rem; }

meter {
  width: 100%; }

progress {
  display: inline-block;
  vertical-align: baseline;
  width: 100%; }

blockquote {
  margin-bottom: 1.5rem;
  margin-top: 0;
  quotes: '\201C' '\201D' '\2018' '\2019'; }
  blockquote p::before {
    content: open-quote; }
  blockquote p::after {
    content: close-quote; }

q {
  quotes: '\201C' '\201D' '\2018' '\2019'; }

hr {
  background-color: #bdbdbd;
  border: 0;
  box-sizing: content-box;
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5rem;
  margin-top: 0;
  text-align: left;
  width: 100%; }

caption,
td,
th {
  padding: 0;
  vertical-align: top; }

.table {
  margin-bottom: 3rem;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll; }
  .table table {
    width: 100%; }
  .table caption,
  .table td,
  .table th {
    border: 1px solid #bdbdbd;
    padding: .5rem; }
  .table caption {
    font-weight: bold; }
  @media (min-width: 48em) {
    .table {
      -webkit-overflow-scrolling: none;
      overflow-x: none; } }

.tablist {
  list-style: none;
  margin: 0;
  padding: 0; }

.tab {
  display: none; }
  .tab--active {
    display: block; }

.tags {
  font-size: .875rem;
  list-style: none;
  margin-bottom: 1.25rem;
  margin-left: -.25rem;
  margin-right: -.25rem;
  padding: 0; }
  .tags::after {
    clear: both;
    content: '';
    display: table; }

.tag {
  float: left;
  margin: .25rem; }
  .tag a {
    border: 1px solid #bdbdbd;
    padding: .25rem .5rem; }

[hidden],
template {
  display: none; }

address,
em {
  font-style: italic; }

b,
strong {
  font-weight: bold; }

p {
  margin-bottom: 1.5rem;
  margin-top: 0; }

small {
  font-size: .75rem; }

sub,
sup {
  font-size: .75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5rem; }

sub {
  bottom: -.25rem; }

.text--lower {
  text-transform: lowercase; }
.text--upper {
  text-transform: uppercase; }
.text--center {
  text-align: center; }

video {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: baseline; }

.site__container {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

footer {
  display: block;
  margin: 0;
  padding: 0; }

.site__footer {
  background: inherit;
  color: inherit;
  padding-bottom: 2rem;
  padding-top: 2rem; }

header {
  display: block; }

.site__header {
  background: inherit;
  color: inherit;
  padding-bottom: 2rem;
  padding-top: 2rem; }

.site__logo img {
  margin-left: auto;
  margin-right: auto; }

.site__aside--left {
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1; }

main {
  display: block; }

.site__main {
  padding-bottom: 3rem;
  padding-top: 3rem; }

section {
  display: block; }

aside {
  display: block; }

.animate {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
  .animate--infinite {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

.invisible {
  left: -9999px;
  position: absolute;
  top: -9999px; }

@media print {
  a,
  a:visited {
    text-decoration: underline; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  img,
  blockquote,
  pre,
  tr {
    page-break-inside: avoid; }

  thead {
    display: table-header-group; } }

/*# sourceMappingURL=style.css.map */