@-ms-viewport {
  width: device-width; }
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }
  *:before, *:after {
    box-sizing: border-box; }

::-moz-selection {
  background: #303030;
  color: #fafafa;
  text-shadow: none; }

::selection {
  background: #303030;
  color: #fafafa;
  text-shadow: none; }

[hidden],
template {
  display: none; }

html {
  -webkit-font-font-smoothing: antialiased;
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: grayscale;
  height: 100%;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  background: #fafafa;
  color: #303030;
  font: 400 1rem/1.5em Arial, sans-serif;
  height: 100%;
  margin: 0;
  position: relative; }

article,
aside,
details,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none; }

a {
  background: transparent;
  border: 0;
  color: #2e719e;
  text-decoration: none;
  transition: background-color .3s, color .3s; }
  a:active {
    color: #3a8dc5; }
  a:focus, a:hover {
    color: #235576; }
  a:focus {
    outline: none; }

address,
em {
  font-style: italic; }

b,
strong {
  font-weight: bold; }

blockquote {
  margin: 0 0 1.5rem;
  quotes: '\201C' '\201D' '\2018' '\2019'; }
  blockquote p:before {
    content: open-quote; }
  blockquote p:after {
    content: close-quote; }

button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-transform: none; }
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }

canvas {
  vertical-align: middle; }

code {
  font-family: "Courier New", monospace;
  font-size: 1rem; }

dialog {
  border: 0;
  display: none;
  padding: 1rem; }
  dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0; }
  dialog[open] {
    display: block; }

embed,
iframe,
svg {
  border: 0;
  width: 100%; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

figure,
figcaption,
header {
  display: block;
  margin: 0; }

footer {
  display: block;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit, sans-serif;
  font-weight: 700; }

h1 {
  font-size: 2rem;
  line-height: 1.2em;
  margin: 0 0 .5rem; }

h2 {
  font-size: 1.5rem;
  line-height: 1.2em;
  margin: 0 0 .5rem; }

h3 {
  font-size: 1.25rem;
  line-height: 1.2em;
  margin: 0 0 .5rem; }

h4 {
  font-size: 1rem;
  line-height: 1.2em;
  margin: 0 0 .5rem; }

h5 {
  font-size: 0.875rem;
  line-height: 1.2em;
  margin: 0 0 .5rem; }

h6 {
  font-size: 0.75rem;
  line-height: 1.2em;
  margin: 0 0 .5rem; }

hr {
  background-color: #bdbdbd;
  border: 0;
  box-sizing: content-box;
  height: 1px;
  margin: 0 0 1.5rem; }

img {
  display: block;
  height: auto;
  max-width: 100%; }

input,
select,
textarea {
  border: 0;
  border-radius: 0;
  color: inherit;
  font: 400 1rem/1.5em Arial, sans-serif;
  margin: 0;
  outline-color: #2e719e;
  padding: 0;
  transition: all .3s; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bdbdbd; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #bdbdbd; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #bdbdbd; }

input::placeholder,
textarea::placeholder {
  color: #bdbdbd; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  background: #95a5a6;
  color: #fff;
  cursor: pointer; }
  input[type="reset"]:focus, input[type="reset"]:hover, input[type="submit"]:focus, input[type="submit"]:hover {
    background: #798d8f; }
input[type="search"] {
  -webkit-appearance: textfield; }

textarea {
  max-width: 100%;
  overflow: auto;
  resize: none;
  vertical-align: top;
  width: 100%; }

label {
  color: inherit;
  display: inline-block;
  font: inherit;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto; }

legend {
  border: 0;
  display: block;
  padding: 0 .25rem;
  position: relative; }

meter,
progress {
  width: 100%; }

dl,
ol,
ul {
  margin: 0 0 1.5rem;
  padding: 0 0 0 1.25rem; }
  dl dd,
  dl ol,
  dl ul,
  ol dd,
  ol ol,
  ol ul,
  ul dd,
  ul ol,
  ul ul {
    margin: .5rem 0 0;
    padding-left: 1.25rem; }
  dl dd,
  ol dd,
  ul dd {
    margin-left: 0; }
  dl li,
  ol li,
  ul li {
    margin-bottom: .25rem; }

p {
  margin: 0 0 1.5rem; }

pre {
  display: block;
  margin: 0 0 1.5rem;
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word; }

q {
  quotes: '\201C' '\201D' '\2018' '\2019'; }

small {
  font-size: .75rem; }

summary:focus {
  outline: none; }

sub,
sup {
  font-size: .75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5rem; }

sub {
  bottom: -.25rem; }

svg {
  height: auto;
  max-width: 100%; }
  svg:not(:root) {
    overflow: hidden; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 1.5rem;
  text-align: left;
  width: 100%; }

caption,
td,
th {
  padding: 0;
  vertical-align: top; }

video {
  height: auto;
  max-width: 100%; }

.breadcrumb ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 -.5rem; }
  .breadcrumb ul:before, .breadcrumb ul:after {
    content: ' ';
    display: table; }
  .breadcrumb ul:after {
    clear: both; }
  .breadcrumb ul > li {
    margin: 0; }
.breadcrumb li {
  float: left; }
.breadcrumb a {
  display: block;
  padding: .25rem .5rem; }

.btn {
  background: #95a5a6;
  color: #fff;
  display: inline-block;
  padding: .5rem 1rem; }
  .btn:focus, .btn:hover {
    background: #798d8f;
    color: #fff; }
  .btn--large {
    font-size: 2rem; }
  .btn--small {
    font-size: .75rem; }
  .btn--rounded {
    border-radius: .5rem; }
  .btn--pill {
    border-radius: 9999px; }
  .btn--full {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%; }
  .btn--primary {
    background: #2e719e; }
    .btn--primary:focus, .btn--primary:hover {
      background: #235576; }
  .btn--secondary {
    background: #964db3; }
    .btn--secondary:focus, .btn--secondary:hover {
      background: #783d90; }
  .btn--success {
    background: #367d53; }
    .btn--success:focus, .btn--success:hover {
      background: #27593b; }
  .btn--warning {
    background: #f1c40f; }
    .btn--warning:focus, .btn--warning:hover {
      background: #c29d0b; }
  .btn--error {
    background: #b83c2e; }
    .btn--error:focus, .btn--error:hover {
      background: #8f2f24; }

.embed {
  height: 0;
  margin-bottom: 3rem;
  padding-bottom: 100%;
  position: relative; }
  .embed--16-9 {
    padding-bottom: 56.25%; }
  .embed embed,
  .embed iframe,
  .embed object {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.form {
  margin-bottom: 3rem; }
  .form fieldset {
    margin: -.5rem 0; }
  .form__field {
    padding: .5rem 0; }
    .form__field:before, .form__field:after {
      content: ' ';
      display: table; }
    .form__field:after {
      clear: both; }
  .form select,
  .form textarea,
  .form input[type="color"],
  .form input[type="date"],
  .form input[type="datetime"],
  .form input[type="datetime-local"],
  .form input[type="email"],
  .form input[type="file"],
  .form input[type="month"],
  .form input[type="number"],
  .form input[type="output"],
  .form input[type="password"],
  .form input[type="range"],
  .form input[type="search"],
  .form input[type="tel"],
  .form input[type="text"],
  .form input[type="time"],
  .form input[type="url"],
  .form input[type="week"] {
    background-color: #e8e8e8;
    border: 1px solid #bdbdbd;
    height: 2em;
    padding: .25rem .5rem;
    width: 100%; }
    .form select:focus, .form select:hover,
    .form textarea:focus,
    .form textarea:hover,
    .form input[type="color"]:focus,
    .form input[type="color"]:hover,
    .form input[type="date"]:focus,
    .form input[type="date"]:hover,
    .form input[type="datetime"]:focus,
    .form input[type="datetime"]:hover,
    .form input[type="datetime-local"]:focus,
    .form input[type="datetime-local"]:hover,
    .form input[type="email"]:focus,
    .form input[type="email"]:hover,
    .form input[type="file"]:focus,
    .form input[type="file"]:hover,
    .form input[type="month"]:focus,
    .form input[type="month"]:hover,
    .form input[type="number"]:focus,
    .form input[type="number"]:hover,
    .form input[type="output"]:focus,
    .form input[type="output"]:hover,
    .form input[type="password"]:focus,
    .form input[type="password"]:hover,
    .form input[type="range"]:focus,
    .form input[type="range"]:hover,
    .form input[type="search"]:focus,
    .form input[type="search"]:hover,
    .form input[type="tel"]:focus,
    .form input[type="tel"]:hover,
    .form input[type="text"]:focus,
    .form input[type="text"]:hover,
    .form input[type="time"]:focus,
    .form input[type="time"]:hover,
    .form input[type="url"]:focus,
    .form input[type="url"]:hover,
    .form input[type="week"]:focus,
    .form input[type="week"]:hover {
      border-color: #8a8a8a; }
  .form textarea {
    height: 6rem; }
  .form input[type="checkbox"], .form input[type="radio"] {
    float: left;
    margin: .25rem .5rem 0 0; }
  .form input[type="reset"], .form input[type="submit"] {
    background-color: #2e719e;
    padding: .25rem 1rem; }
    .form input[type="reset"]:focus, .form input[type="reset"]:hover, .form input[type="submit"]:focus, .form input[type="submit"]:hover {
      background-color: #235576; }
  .form .checkbox-container,
  .form .radio-container {
    float: left;
    width: 100%; }
    .form .checkbox-container:before, .form .checkbox-container:after,
    .form .radio-container:before,
    .form .radio-container:after {
      content: ' ';
      display: table; }
    .form .checkbox-container:after,
    .form .radio-container:after {
      clear: both; }
    .form .checkbox-container label,
    .form .radio-container label {
      overflow: hidden; }
    @media (min-width: 30rem) {
      .form .checkbox-container,
      .form .radio-container {
        width: 50%; } }
    @media (min-width: 40rem) {
      .form .checkbox-container,
      .form .radio-container {
        width: 33.33333%; } }

.gallery {
  margin-bottom: 3rem; }
  .gallery .images {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: -.25rem; }
    .gallery .images:before, .gallery .images:after {
      content: ' ';
      display: table; }
    .gallery .images:after {
      clear: both; }
    .gallery .images > li {
      margin: 0; }
    .gallery .images li {
      float: left;
      padding: .25rem;
      width: 50%; }
      @media (min-width: 30rem) {
        .gallery .images li {
          width: 33.33333%; } }

.media:before, .media:after {
  content: ' ';
  display: table; }
.media:after {
  clear: both; }
.media--middle {
  vertical-align: middle; }
.media__obj--left, .media__obj--right {
  display: table-cell; }
  .media__obj--left img, .media__obj--right img {
    max-width: initial; }
.media__obj--above {
  padding-bottom: 1rem; }
.media__obj--left {
  padding: 0 1rem 1rem 0; }
.media__obj--right {
  padding: 0 0 1rem 1rem; }
.media__body {
  display: table-cell;
  overflow: hidden;
  vertical-align: middle; }

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .nav ul > li {
    margin: 0; }
.nav li {
  position: relative; }
.nav a {
  display: block; }
.nav--inline > ul:before, .nav--inline > ul:after {
  content: ' ';
  display: table; }
.nav--inline > ul:after {
  clear: both; }
.nav--inline > ul > li {
  float: left; }
.nav--dropdown li:focus ul, .nav--dropdown li:hover ul {
  display: block; }
.nav--dropdown li ul {
  display: none;
  position: absolute; }
@media (min-width: 40rem) {
  .nav__btn {
    display: none; } }

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  .pagination:before, .pagination:after {
    content: ' ';
    display: table; }
  .pagination:after {
    clear: both; }
  .pagination > li {
    margin: 0; }
  .pagination li {
    display: inline-block; }
  .pagination a {
    display: block;
    padding: .25rem .5rem; }
  .pagination .prev {
    float: left; }
  .pagination .next {
    float: right; }

.form-search .input-search,
.form-search .input-submit {
  float: left; }

.table {
  margin-bottom: 3rem;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll; }
  .table table {
    width: 100%; }
  .table caption,
  .table td,
  .table th {
    border: 1px solid #bdbdbd;
    padding: .5rem; }
  .table caption {
    font-weight: bold; }
  @media (min-width: 40rem) {
    .table {
      -webkit-overflow-scrolling: none;
      overflow-x: none; } }

.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 -.5rem; }
  .tags:before, .tags:after {
    content: ' ';
    display: table; }
  .tags:after {
    clear: both; }
  .tags > li {
    margin: 0; }
  .tags li {
    float: left;
    margin: 0 .5rem; }
    .tags li:before {
      content: '#'; }

.site__header {
  background: inherit;
  color: inherit;
  padding: 2rem 0; }

.site__logo img {
  margin: 0 auto; }

.site__main {
  padding: 3rem 0; }

.site__footer {
  background: inherit;
  color: inherit;
  padding: 2rem 0; }

.animate {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
  .animate--infinite {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

.container {
  margin: 0 auto;
  max-width: 78rem;
  width: 90%; }
  .container:before, .container:after {
    content: ' ';
    display: table; }
  .container:after {
    clear: both; }

.row {
  margin: 0 -1%; }
  .row:before, .row:after {
    content: ' ';
    display: table; }
  .row:after {
    clear: both; }

.col--1, .col--2, .col--3, .col--4, .col--5, .col--6, .col--7, .col--8, .col--9, .col--10, .col--11, .col--12 {
  height: auto;
  margin: 0 1%;
  min-height: 1px; }

@media (min-width: 40rem) {
  .col--1 {
    float: left;
    width: 6.33333%; }

  .col--2 {
    float: left;
    width: 14.66667%; }

  .col--3 {
    float: left;
    width: 23%; }

  .col--4 {
    float: left;
    width: 31.33333%; }

  .col--5 {
    float: left;
    width: 39.66667%; }

  .col--6 {
    float: left;
    width: 48%; }

  .col--7 {
    float: left;
    width: 56.33333%; }

  .col--8 {
    float: left;
    width: 64.66667%; }

  .col--9 {
    float: left;
    width: 73%; }

  .col--10 {
    float: left;
    width: 81.33333%; }

  .col--11 {
    float: left;
    width: 89.66667%; }

  .col--12 {
    float: left;
    width: 98%; } }
.icons {
  display: none; }

.icon {
  display: inline-block;
  fill: #303030;
  height: 1em;
  vertical-align: middle;
  width: 1em; }

.icon--2x {
  font-size: 2rem; }

.icon--3x {
  font-size: 3rem; }

.icon--4x {
  font-size: 4rem; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.lower {
  text-transform: lowercase; }

.upper {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.invisible {
  left: -9999px;
  position: absolute;
  top: -9999px; }

.subline {
  color: #808080; }

@media print {
  * {
    background: transparent;
    box-shadow: none;
    color: #303030;
    text-shadow: none; }

  a,
  a:visited {
    text-decoration: underline; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  img,
  blockquote,
  pre,
  tr {
    page-break-inside: avoid; }

  blockquote {
    border-left: 3px solid #303030; }

  thead {
    display: table-header-group; }

  select {
    background: #fafafa; }

  .container {
    width: auto; }

  .left {
    display: none; }

  .main {
    width: 100%; } }
/*# sourceMappingURL=style.css.map */