.embed {
  height: 0;
  margin-bottom: 1.5rem;
  padding-top: 100%;
  position: relative;
}

.embed--4-3 {
  padding-top: calc(100% / (4 / 3));
}

.embed--16-9 {
  padding-top: calc(100% / (16 / 9));
}

.embed embed,
.embed iframe,
.embed object {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
