:root {
  --inputBgColor: #e8e8e8;
  --inputBorderColor: #ccc;
  --inputColor: var(--baseColor);
  --inputHoverBorderColor: #aaa;

  --inputButtonBgColor: #95a5a6;
  --inputButtonColor: #fff;
  --inputButtonHoverBgColor: #7e8b8c;

  --placeholderColor: #ccc;

  --formFieldPadding: .5rem;

  --formInputPaddingHorizontal: .5rem;
  --formInputPaddingVertical: .25rem;

  --formInputButtonPaddingHorizontal: .5rem;
  --formInputButtonPaddingVertical: 1rem;

  --formTextreaHeight: 6rem;

  --formCheckboxMarginRight: .5rem;
  --formCheckboxMarginTop: .25rem;
}

::placeholder {
  color: var(--placeholderColor);
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  background-color: var(--inputBgColor);
  border: 1px solid var(--inputBorderColor);
  border-radius: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline-color: var(--colorPrimary);
  padding: 0;
  transition: all .3s;
}

input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
  border-color: var(--inputHoverBorderColor);
}

input[type="reset"],
input[type="submit"] {
  appearance: button;
  background-color: var(--inputButtonBgColor);
  color: var(--inputButtonColor);
  cursor: pointer;
}

input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  background-color: var(--inputButtonHoverBgColor);
}

input[type="search"] {
  appearance: textfield;
}

label {
  color: inherit;
  display: inline-block;
  font: inherit;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto;
}

legend {
  border: 0;
  display: block;
  padding: 0 .25rem;
  position: relative;
}

textarea {
  max-width: 100%;
  overflow: auto;
  resize: none;
  vertical-align: top;
  width: 100%;
}

.form {
  margin-bottom: 1.5rem;
}

.form fieldset {
  margin: calc(var(--formFieldPadding) * -1);
}

.form__field {
  padding: var(--formFieldPadding);
}

.form__field::before,
.form__field::after {
  content: ' ';
  display: table;
}

.form__field::after {
  clear: both;
}

.form__input {
  flex: 1;
}

.form select,
.form textarea,
.form input[type="color"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="email"],
.form input[type="file"],
.form input[type="month"],
.form input[type="number"],
.form input[type="output"],
.form input[type="password"],
.form input[type="range"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="text"],
.form input[type="time"],
.form input[type="url"],
.form input[type="week"] {
  padding: var(--formInputPaddingVertical) var(--formInputPaddingHorizontal);
  width: 100%;
}

.form textarea {
  height: var(--formTextreaHeight);
}

.form input[type="reset"],
.form input[type="submit"] {
  padding: var(--formInputButtonPaddingVertical) var(--formInputButtonPaddingHorizontal);
}

.form input[type="checkbox"],
.form input[type="radio"] {
  float: left;
  margin-right: var(--formCheckboxMarginRight);
  margin-top: var(--formCheckboxMarginTop);
}

.form .checkbox-container,
.form .radio-container {
  float: left;
  width: calc(100% / 1);
}

@media (min-width: 30em) {

  .form .checkbox-container,
  .form .radio-container {
    width: calc(100% / 2);
  }

}

@media (min-width: 48em) {

  .form .checkbox-container,
  .form .radio-container {
    width: calc(100% / 3);
  }

}

.form .checkbox-container label,
.form .radio-container label {
  overflow: hidden;
}

.form .checkbox-container::before,
.form .checkbox-container::after,
.form .radio-container::before,
.form .radio-container::after {
  content: ' ';
  display: table;
}

.form .checkbox-container::after,
.form .radio-container::after {
  clear: both;
}
