:root {
  --galleryGutter: .25rem;
  --galleryMarginBottom: 1.5rem;
}

.gallery {
  margin-bottom: var(--galleryMarginBottom);
}

.gallery .images {
  list-style: none;
  margin: calc(var(--galleryGutter) * -1);
  padding: 0;
}

.gallery .images::after {
  content: ' ';
  display: table;
}

.gallery .images li {
  float: left;
  padding: var(--galleryGutter);
  width: calc(100% / 2);
}

@media (min-width: 30em) {

  .gallery .images li {
    width: calc(100% / 3);
  }

}
