:root {
  --figureMarginBottom: 1.5rem;
  --figureMarginLeft: 0;
  --figureMarginRight: 0;
  --figureMarginTop: 0;
}

img,
svg {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  display: block;
  margin-bottom: var(--figureMarginBottom);
  margin-left: var(--figureMarginLeft);
  margin-right: var(--figureMarginRight);
  margin-top: var(--figureMarginTop);
}

figcaption {
  display: block;
}
