:root {
  --listMarginBottom: 1.5rem;
  --listMarginTop: 0;
  --listPadding: 1.25rem;

  --listListMarginTop: .5rem;

  --listItemMarginBottom: .25rem;
}

dl,
ol,
ul {
  margin-bottom: var(--listMarginBottom);
  margin-top: var(--listMarginTop);
  padding-left: var(--listPadding);
}

dd dd,
dd ol,
dd ul,
ul dd,
ul ol,
ul ul,
ol dd,
ol ol,
ol ul {
  margin-top: var(--listListMarginTop);
}

li {
  margin-bottom: var(--listItemMarginBottom);
}
