.media {
  display: flex;
}

.media--center {
  align-items: center;
}

.media__obj {
  margin-bottom: 1.5rem;
}

@media (min-width: 30em) {

  .media__obj--left,
  .media__obj--right {
    max-width: 50%;
  }

}

.media__obj--left {
  margin-right: 1rem;
}

.media__obj--right {
  margin-left: 1rem;
  order: 1;
}

.media__body {
  flex: 1;
}
