:root {
  --mediaObjectMarginBottom: 1.5rem;
  --mediaObjectLeftMarginRight: 1rem;
  --mediaObjectRightMarginLeft: 1rem;
}

.media {
  display: flex;
}

.media--center {
  align-items: center;
}

.media__object {
  margin-bottom: var(--mediaObjectMarginBottom);
}

@media (min-width: 30em) {

  .media__object--left,
  .media__object--right {
    max-width: 50%;
  }

}

.media__object--left {
  margin-right: var(--mediaObjectLeftMarginRight);
}

.media__object--right {
  margin-left: var(--mediaObjectRightMarginLeft);
  order: 1;
}

.media__body {
  flex: 1;
}
