:root {
  --mediaObjMarginBottom: 1.5rem;
  --mediaObjLeftMarginRight: 1rem;
  --mediaObjRightMarginLeft: 1rem;
}

.media {
  display: flex;
}

.media--center {
  align-items: center;
}

.media__obj {
  margin-bottom: var(--mediaObjMarginBottom);
}

@media (min-width: 30em) {

  .media__obj--left,
  .media__obj--right {
    max-width: 50%;
  }

}

.media__obj--left {
  margin-right: var(--mediaObjLeftMarginRight);
}

.media__obj--right {
  margin-left: var(--mediaObjRightMarginLeft);
  order: 1;
}

.media__body {
  flex: 1;
}
