nav {
  display: block;
}

.navigation {

}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
}

.navigation--inline {

}

.navigation--inline > ul {

}

.navigation--inline > ul::after {
  clear: both;
  content: ' ';
  display: table;
}

.navigation--inline > ul > li {
  float: left;
}

.navigation__dropdown {
  position: relative;
}

.navigation__dropdown:focus > ul,
.navigation__dropdown:hover > ul {
  display: block;
}

.navigation__dropdown > ul {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.navigation__dropdown--bottom > ul {
  bottom: auto;
  top: 100%;
}

.navigation__dropdown--left > ul {
  left: auto;
  right: 100%;
}

.navigation__dropdown--right > ul {
  left: 100%;
  right: auto;
}

.navigation__dropdown--top > ul {
  bottom: 100%;
  top: auto;
}

@media (min-width: 48em) {

  .navigation__btn {
    display: none;
  }

}
