:root {
  --paginationLinkPaddingHorizontal: .5rem;
  --paginationLinkPaddingVertical: .25rem;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.pagination::after {
  clear: both;
  content: ' ';
  display: table;
}

.pagination li {
  display: inline-block;
}

.pagination a {
  display: block;
  padding: var(--paginationLinkPaddingVertical) var(--paginationLinkPaddingHorizontal);
}

.pagination__previous {
  float: left;
}

.pagination__next {
  float: right;
}
