:root {
  --blockquoteMarginBottom: 1.5rem;
  --blockquoteMarginTop: 0;
}

blockquote {
  margin-bottom: var(--blockquoteMarginBottom);
  margin-top: var(--blockquoteMarginTop);
  quotes: '\201C' '\201D' '\2018' '\2019';
}

blockquote p::before {
  content: open-quote;
}

blockquote p::after {
  content: close-quote;
}

q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}
