.breadcrumb {
  @include clearfix();
  @include list-unstyled();
  margin: 0 -.5rem;

  li {
    float: left;
  }

  a {
    display: block;
    padding: .25rem .5rem;
  }

}

@if (rtl == true) {

  html[dir="rtl"] {

    .breadcrumb {

      li {
        float: right;
      }

    }

  }

}
