$button-bgcolor: #95a5a6;
$button-bgcolor-hover: darken($button-bgcolor, 10%);
$button-color: #fff;
$button-color-hover: darken($button-color, 10%);

button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-transform: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

}

.button {
  background-color: $button-bgcolor;
  color: $button-color;
  display: inline-block;
  padding: .5rem 1rem;

  &:focus,
  &:hover {
    background: $button-bgcolor-hover;
    color: $button-bgcolor-hover;
  }

  &--large {
    font-size: 2rem;
  }

  &--small {
    font-size: .75rem;
  }

  &--rounded {
    border-radius: .5rem;
  }

  &--pill {
    border-radius: 9999px;
  }

  &--full {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%;
  }

  &--primary {
    background-color: $primary-color;

    &:focus,
    &:hover {
      background-color: $primary-color-hover;
    }

  }

  &--secondary {
    background-color: $secondary-color;

    &:focus,
    &:hover {
      background-color: $secondary-color-hover;
    }

  }

  &--success {
    background-color: $success-color;

    &:focus,
    &:hover {
      background-color: $success-color-hover;
    }

  }

  &--warning {
    background-color: $warning-color;

    &:focus,
    &:hover {
      background-color: $warning-color-hover;
    }

  }

  &--error {
    background-color: $error-color;

    &:focus,
    &:hover {
      background-color: $error-color-hover;
    }

  }

}
