.btn {
  background: $color-btn-bg;
  color: $color-btn;
  display: inline-block;
  padding: .5rem 1rem;

  &:focus,
  &:hover {
    background: $color-btn-hover-bg;
    color: $color-btn-hover;
  }

  &--large {
    font-size: 2rem;
  }

  &--small {
    font-size: .75rem;
  }

  &--rounded {
    border-radius: .5rem;
  }

  &--pill {
    border-radius: 9999px;
  }

  &--full {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%;
  }

  &--primary {
    background: $color-primary;

    &:focus,
    &:hover {
      background: $color-primary-hover;
    }

  }

  &--secondary {
    background: $color-secondary;

    &:focus,
    &:hover {
      background: $color-secondary-hover;
    }

  }

  &--success {
    background: $color-success;

    &:focus,
    &:hover {
      background: $color-success-hover;
    }

  }

  &--warning {
    background: $color-warning;

    &:focus,
    &:hover {
      background: $color-warning-hover;
    }

  }

  &--error {
    background: $color-error;

    &:focus,
    &:hover {
      background: $color-error-hover;
    }

  }

}
