$dialog-backdrop-bgcolor: rgba(0, 0, 0, .85);

dialog {
  border: 0;
  display: none;
  padding: 1rem;

  &::backdrop {
    background-color: $dialog-backdrop-bgcolor;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  &[open] {
    display: block;
  }

}
