.embed {
  height: 0;
  margin-bottom: $margin-element-bottom;
  padding-bottom: 100%;
  position: relative;

  &--16-9 {
    padding-bottom: 100% / (16 / 9);
  }

  embed,
  iframe,
  object {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

}
