.form {
  margin-bottom: $margin-element-bottom;

  fieldset {
    margin: -.5rem 0;
  }

  &__field {
    @include clearfix();
    padding: .5rem 0;
  }

  select,
  textarea,
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="month"],
  input[type="number"],
  input[type="output"],
  input[type="password"],
  input[type="range"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"] {
    background-color: $color-input-bg;
    border: 1px solid $color-border;
    height: $line-height + (.25em * 2);
    padding: .25rem .5rem;
    width: 100%;

    &:focus,
    &:hover {
      border-color: $color-border-hover;
    }

  }

  textarea {
    height: 6rem;
  }

  input {

    &[type="checkbox"],
    &[type="radio"] {
      float: left;
      margin: .25rem .5rem 0 0;
    }

    &[type="reset"],
    &[type="submit"] {
      background-color: $color-primary;
      padding: .25rem 1rem;

      &:focus,
      &:hover {
        background-color: $color-primary-hover;
      }

    }

  }

  .checkbox-container,
  .radio-container {
    @include clearfix();
    float: left;
    width: (100% / 1);

    label {
      overflow: hidden;
    }

    @media (min-width: $media-tiny) {
      width: (100% / 2);
    }

    @media (min-width: $media-small) {
      width: (100% / 3);
    }

  }

}

@if (rtl == true) {

  html[dir="rtl"] {

    .form {

      input[type="checkbox"],
      input[type="radio"] {
        float: right;
        margin: .25rem 0 0 .5rem;
      }

      .checkbox-container,
      .radio-container {
        float: right;

      }

    }

  }

}
