$input-button-bgcolor: #95a5a6;
$input-button-bgcolor-hover: darken($input-button-bgcolor, 10%);
$input-button-color: #fff;

$input-bgcolor: #e8e8e8;
$input-color: $base-color;

$placeholder-color: $border-color;


input,
select,
textarea {
  background-color: $input-bgcolor;
  border: 1px solid $border-color;
  border-radius: 0;
  color: inherit;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family, $base-font-family-fallback;
  margin: 0;
  outline-color: $primary-color;
  padding: 0;
  transition: all .3s;

  &:focus,
  &:hover {
    border-color: $border-color-hover;
  }

}

input,
textarea {

  &::placeholder {
    color: $placeholder-color;
  }

}

input {

  &[type="reset"],
  &[type="submit"] {
    -webkit-appearance: button;
    background: $input-button-bgcolor;
    color: $input-button-color;
    cursor: pointer;

    &:focus,
    &:hover {
      background: $input-button-bgcolor-hover;
    }

  }

  &[type="search"] {
    -webkit-appearance: textfield;
  }

}

textarea {
  max-width: 100%;
  overflow: auto;
  resize: none;
  vertical-align: top;
  width: 100%;
}

label {
  color: inherit;
  display: inline-block;
  font: inherit;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto;
}

legend {
  border: 0;
  display: block;
  padding: 0 .25rem;
  position: relative;
}

.form {
  margin-bottom: $margin-element-bottom;

  fieldset {
    margin: -.5rem 0;
  }

  &__field {
    @include clearfix();
    padding: .5rem 0;
  }

  &__input {
    flex: 1;
  }

  select,
  textarea,
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="month"],
  input[type="number"],
  input[type="output"],
  input[type="password"],
  input[type="range"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"] {
    height: $base-line-height + (.25em * 2);
    padding: .25rem .5rem;
    width: 100%;
  }

  textarea {
    height: 6rem;
  }

  input {

    &[type="checkbox"],
    &[type="radio"] {
      float: left;
      margin: .25rem .5rem 0 0;
    }

    &[type="reset"],
    &[type="submit"] {
      background-color: $primary-color;
      padding: .25rem 1rem;

      &:focus,
      &:hover {
        background-color: $primary-color-hover;
      }

    }

  }

  .checkbox-container,
  .radio-container {
    @include clearfix();
    float: left;
    width: (100% / 1);

    label {
      overflow: hidden;
    }

    @media (min-width: $media-tiny) {
      width: (100% / 2);
    }

    @media (min-width: $media-small) {
      width: (100% / 3);
    }

  }

}

@if (rtl == true) {

  html[dir="rtl"] {

    .form {

      input[type="checkbox"],
      input[type="radio"] {
        float: right;
        margin: .25rem 0 0 .5rem;
      }

      .checkbox-container,
      .radio-container {
        float: right;

      }

    }

  }

}
