.gallery {
  margin-bottom: $margin-element-bottom;

  .images {
    @include clearfix();
    @include list-unstyled();
    margin: -.25em;

    li {
      float: left;
      padding: .25em;
      width: (100% / 2);

      @media (min-width: $media-tiny) {
        width: (100% / 3);
      }

    }

  }

}

@if (rtl == true) {

  html[dir="rtl"] {

    .gallery {

      li {
        float: right;
      }

    }

  }

}
