.gallery {
  margin-bottom: $margin-element-bottom;

  .images {
    @include clearfix();
    @include list-unstyled();
    margin: -.25rem;

    li {
      float: left;
      padding: .25rem;
      width: (100% / 2);

      @media (min-width: $media-tiny) {
        width: (100% / 3);
      }

    }

  }

}
