.media {
  @include clearfix();

  &__obj {

    &--left,
    &--right {
      max-width: 50%;
      width: auto;
    }

    &--above {
      margin-bottom: 1rem;
    }

    &--left {
      float: left;
      margin: 0 1rem 1rem 0;
    }

    &--right {
      float: right;
      margin: 0 0 1rem 1rem;
    }

  }

  &__body {
    overflow: hidden;
  }

}
