.media {
  @include clearfix();

  &-obj-left,
  &-obj-right {
    max-width: 50%;
    width: auto;
  }

  &-obj-left {
    margin: 0 1em 1em 0;
  }

  &-obj-right {
    margin: 0 0 1em 1em;
  }

  &-obj-above {
    margin-bottom: 1em;
  }

  &-body {
    overflow: hidden;
  }
}
