.nav {

  ul {
    @include list-unstyled();
  }

  li {
    position: relative;
  }

  a {
    display: block;
  }

  &--horizontal {

    > ul {
      @include clearfix();

      > li {
        float: left;
      }

    }

  }

  &--dropdown {

    li {

      &:focus,
      &:hover {

        ul {
          display: block;
        }

      }

      ul {
        display: none;
        position: absolute;
      }

    }

  }

  &__btn {

    @media (min-width: $media-small) {
      display: none;
    }

  }

}
