.nav {

  ul {
    @include list-unstyled();
  }

  li {
    position: relative;
  }

  a {
    display: block;
  }

}

.nav-horizontal {

  > ul {
    @include clearfix();

    > li {
      float: left;
    }

  }

}

.nav-dropdown {

  li {

    &:hover {

      ul {
        display: block;
      }

    }

    ul {
      display: none;
      position: absolute;
    }

  }

}

.nav-btn {

  @media (min-width: $media-small) {
    display: none;
  }

}
