.navigation {

  ul {
    @include list-unstyled();
  }

  a {
    display: block;
  }

  &--inline {

    > ul {
      @include clearfix();

      > li {
        float: left;
      }

    }

  }

  &__dropdown {
    position: relative;

    &:focus,
    &:hover {

      > ul {
        display: block;
      }

    }

    > ul {
      display: none;
      left: 0;
      position: absolute;
      top: 0;
      white-space: nowrap;
    }

    &--bottom {

      > ul {
        bottom: auto;
        top: 100%;
      }

    }

    &--left {

      > ul {
        left: auto;
        right: 100%;
      }

    }

    &--right {

      > ul {
        left: 100%;
        right: auto;
      }

    }

    &--top {

      > ul {
        bottom: 100%;
        top: auto;
      }

    }

  }

  &__btn {

    @media (min-width: $media-md) {
      display: none;
    }

  }

}
