.pagination {
  @include clearfix();
  @include list-unstyled();
  text-align: center;

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: .25rem .5rem;
  }

  .prev {
    float: left;
  }

  .next {
    float: right;
  }

}

@if (rtl == true) {

  html[dir="rtl"] {

    .pagination {

      .prev {
        float: right;
      }

      .next {
        float: left;
      }

    }

  }

}
