blockquote {
  margin: 0 0 1.5rem;
  quotes: '\201C' '\201D' '\2018' '\2019';

  p {

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }

  }

}

q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}
