table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 1.5rem;
  text-align: left;
  width: 100%;
}

caption,
td,
th {
  padding: 0;
  vertical-align: top;
}

.table {
  margin-bottom: $margin-element-bottom;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;

  table {
    width: 100%;
  }

  caption,
  td,
  th {
    border: 1px solid $border-color;
    padding: .5rem;
  }

  caption {
    font-weight: bold;
  }

  @media (min-width: $media-small) {
    -webkit-overflow-scrolling: none;
    overflow-x: none;
  }

}
