.table {
  margin-bottom: $margin-element-bottom;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;

  table {
    width: 100%;
  }

  caption,
  td,
  th {
    border: 1px solid $border-color;
    padding: .5rem;
  }

  caption {
    font-weight: bold;
  }

  @media (min-width: $media-small) {
    -webkit-overflow-scrolling: none;
    overflow-x: none;
  }

}
