.tags {
  @include clearfix();
  font-size: .875rem;
  list-style: none;
  margin-bottom: 1.25rem;
  margin-left: -.25rem;
  margin-right: -.25rem;
  padding: 0;
}

.tag {
  float: left;
  margin: .25rem;

  a {
    border: 1px solid $border-color;
    padding: .25rem .5rem;
  }

}
