//---------- TABS ----------//

.ui-tabs {
  margin-bottom: $margin-element-bottom;
  position: relative;

  .ui-tabs-nav {
    @include clearfix();
    @include list-unstyled();
    border-bottom: 1px solid $color-border;

    li {
      float: left;
      margin-bottom: -1px;
    }

    a {
      border: 1px solid transparent;
      display: block;
      padding: .25em .5em;
      white-space: nowrap;
    }

  }

  .ui-tabs-anchor {

  }

  .ui-tabs-active {

    a {
      background-color: $color-bg;
      border: 1px solid $color-border;
      border-bottom-color: transparent;
    }

  }

  .ui-state-disabled {

  }

  .ui-tabs-loading {

  }

  .ui-tabs-panel {
    padding: .5em;
  }

}

@if (rtl) {

  html[dir="rtl"] {

    .ui-tabs {

      .ui-tabs-nav {

        li {
          float: right;
        }

      }

    }

  }

}
