.ui-accordion {
  margin-bottom: $margin-element-bottom;

  .ui-accordion-header {
    cursor: pointer;
    min-height: 0;
    outline: 0;
  }

  .ui-accordion-icons {

  }

  .ui-accordion-icons .ui-accordion-icons {

  }

  .ui-accordion-header .ui-accordion-header-icon {

  }

  .ui-accordion-content {

  }

}
