$grid-columns: 12;
$grid-container: 78rem;
$grid-gutter: 2%;

.grid {

  &__container {
    @include clearfix();
    margin: 0 auto;
    max-width: $grid-container;
    width: 90%;
  }

  &__row {
    @include clearfix();
    margin: 0 $grid-gutter / -2;
  }

  &__col {
    margin: 0 $grid-gutter / 2;
    min-height: 1px;

    @media (min-width: $media-md) {
      float: left;

      @for $i from 1 through $grid-columns {

        &--#{$i} {
          width: (100% / $grid-columns * $i - $grid-gutter);
        }

      }

    }

  }

}
