// Positioning //

.align {
  align-items: center;
  display: flex;
  flex-direction: row;

  &__item {

    &--top {
      align-self: flex-start;
    }

    &--bottom {
      align-self: flex-end;
    }

  }

}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Typography //

.text {

  &--lower {
    text-transform: lowercase;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--center {
    text-align: center;
  }

}

// Visual //

.invisible {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
